<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Edit Jabatan</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	<nav th:replace="fragments/fragment :: navbar(title= 'Ubah Jabatan')"></nav>	
	<h3>Cari Pegawai</h3>
	<form th:action="@{/pegawai/cari/hasil}" th:object="${pegawai}" method = "GET">
		<div class="card">
		<table style="width:100%" cellpadding="30">
				<tr>
					<td style="text-align: left">Provinsi</td>
					<td>
						<select class="form-control" name="idProvinsi">
						        <option value=></option>
						        <option th:each="provinsi : ${provinsiList}" th:value="${provinsi.id}" th:text="${provinsi.nama}">
						        </option>
						</select>
					</td>
				</tr>
				<tr>
					<td style="text-align: left">Nama Instansi</td>
					<td><select class="form-control" name="idInstansi">
						        <option value=></option>
						        <option th:each="instansi : ${instansiList}" th:value="${instansi.id}" th:text="${instansi.nama}">
						        </option>
						</select>
					</td>
				</tr>
				<tr>
					<td style="text-align: left">Jabatan</td>
					<td><select class="form-control" name="idJabatan">
						        <option value=></option>
						        <option th:each="jabatan : ${jabatanList}" th:value="${jabatan.id}" th:text="${jabatan.nama}">
						        </option>
						</select>
					</td>
				</tr>
		</table>
		</div>
		<button type="Submit" class="btn btn-primary">Cari</button>
	
	</form>
		
</body>